<p><%= label_tag('list[title]', 'Title')%></p>
<%= f.text_field(:title) %>
<p><%= label_tag('list[description]', 'Description') %></p>
<%= f.text_area(:description) %>
<p><%= label_tag('list[book_ids][]', 'Books') %></p>
<%= f.collection_check_boxes :book_ids, @books, :id, :title_and_author, {}, { multiple: true } do |box| %>
  <p>
    <%= box.label { box.check_box + box.text } %>
  </p>
<% end %>
