<%= link_to('< Back to lists 📜', lists_path, :class => 'back_button')%>

<h1>Edit entry for <%= @list.title %></h1>

<%= form_for(@list) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f})%>
  <div>
    <%= f.submit("Update list")%>
  </div>
<% end %>
