<%= link_to('< Back to lists ðŸ“œ', lists_path, :class => 'back_button')%>

<h1><%= @list.title %></h1>

<p><%= @list.description %></p>

<div>
  <%= render(:partial => 'books/table', :locals => {:books => @books, :search_term => nil})%>
</div>

<%= link_to('âœï¸ Edit', edit_list_path(@list), :class => 'action edit') %>
<%= link_to('ðŸ—‘ Delete', delete_list_path(@list), :class => 'action delete') %>
