<p>Title</p>
<%= f.text_field(:title) %>
<p>Subtitle</p>
<%= f.text_field(:subtitle) %>
<p>Author</p>
<%= f.text_field(:author) %>
<p>Publisher</p>
<%= f.text_field(:publisher) %>
<p>Publication date</p>
<%= f.number_field(:publication_date) %>
<p>Year first published<p>
<%= f.number_field(:year_first_published) %>
<p>Number of pages</p>
<%= f.number_field(:number_of_pages) %>
<p>Blurb</p>
<%= f.text_area(:blurb, cols: 50, rows: 7)%>
<p>Photo</p>
<%= f.file_field(:photo) %>
<p>Lists</p>
<%= f.collection_select :list_ids, @lists, :id, :title, {}, { multiple: true } %>
<p>Read?</p>
<%= f.radio_button :has_been_read, 'Yes'%>Yes
<%= f.radio_button :has_been_read, 'In progress'%>In progress
<%= f.radio_button :has_been_read, 'No'%>No
<p>Date finished reading</p>
<%= f.date_field(:date_finished_reading) %>
