<p>Title</p>
<%= f.text_field(:title) %>
<p>Subtitle</p>
<%= f.text_field(:subtitle) %>
<p>Author</p>
<%= f.text_field(:author) %>
<p>Publisher</p>
<%= f.text_field(:publisher) %>
<p>Publication date</p>
<%= f.text_field(:publication_date) %>
<p>Number of pages</p>
<%= f.number_field(:number_of_pages) %>
<p>Photo</p>
<%= f.file_field(:photo) %>
