<h1>Welcome to the library! ðŸ“š</h1>

<%= link_to("ðŸ“• Add a new book", new_book_path, :class => 'action new')%>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Number of pages</th>
    <th>Actions</th>
  </tr>
<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.number_of_pages %> pages</td>
    <td>
      <%= link_to("ðŸ”", book_path(book), :class => 'action show')%>
      <%= link_to("âœï¸", edit_book_path(book), :class => 'action edit')%>
      <%= link_to("ðŸ—‘", delete_book_path(book), :class => 'action delete')%>

    </td>
  </tr>
<% end %>
</table>
