<%= link_to('< Back to library ðŸ“š', books_path, :class => 'back_button')%>

<h1><%= @book.title %></h1>

<%= render(:partial => "photo", :locals => {:book => @book}) unless @book.photo_blob.nil?%>
<div>
  <span><strong>Title:</strong></span>
  <span><%= @book.title %></span>
</div>
<div>
  <span><strong>Subtitle:</strong></span>
  <span><%= @book.subtitle %></span>
</div>
<div>
  <span><strong>Author:</strong></span>
  <span><%= "#{@book.author.first_name} #{@book.author.surname}" %></span>
</div>
<div>
  <span><strong>Publisher:</strong></span>
  <span><%= @book.publisher %></span>
</div>
<div>
  <span><strong>Date of publication:</strong></span>
  <span><%= @book.publication_date %></span>
</div>
<div>
  <span><strong>Year first published:</strong></span>
  <span><%= @book.year_first_published || "Unknown" %></span>
</div>
<div>
  <span><strong>Number of pages:</strong></span>
  <span><%= @book.number_of_pages %></span>
</div>
<div>
  <span><strong>Blurb:</strong></span>
  <span><%= @book.blurb %></span>
</div>
<div>
  <span><strong>Read?:</strong></span>
  <span><%= @book.has_been_read %></span>
</div>
<% if @book.has_been_read == "Yes" %>
  <div>
    <span><strong>Date finished reading:</strong></span>
    <span><%= @book.date_finished_reading %></span>
  </div>
<% end %>


<%= link_to('âœï¸ Edit', edit_book_path(@book), :class => 'action edit') %>
<%= link_to('ðŸ—‘ Delete', delete_book_path(@book), :class => 'action delete') %>
<%= link_to('ðŸª¶ More by this author', author_path(@book.author))%>
